// menu ===========================================================
.catalog-container {
    padding: 20px;
    gap: 20px;
    flex-direction: column;

    .catalog-card {
        box-shadow: 0 0 5px 0 gray;

        .catalog-header {
            align-items: center;
            padding: 10px 20px;

            .catalog-actions {
                margin-left: auto;
            }
        }

        .catalog-body {
            ul {
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                    border-bottom: 1px solid lightgray;
                    color: gray;

                    .product-actions {
                        margin-left: auto;
                        gap: 20px;
                    }
                }
            }
        }
    }

}

.portada {
    height: 70px;
    margin-bottom: 20px;
}

.logo {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    padding: 2px;

    svg {
        font-size: 25px !important;
    }

    p {

        font-size: 13px !important;
    }
}

// menu info ======================================================
.catalog {
    border-bottom: 1px solid lightgray;
    gap: 20px;
    width: 100%;
    padding-bottom: 20px;
    align-items: end;

    .catalog-title {
        width: auto;
    }

    input {
        width: 300px !important;
    }
}

.product-list {
    margin-top: 20px;
    border: 1px solid #c4c4c4;
    border-bottom: none;

    .product-item,
    .product-data,
    .first-data {
        width: 100%;
        gap: 10px;
    }

    .product-item {
        padding: 10px;
        border-bottom: 1px solid #c4c4c4;

        input {
            max-width: 350px;
        }

        input+input {
            max-width: 200px;
        }

        button {
            margin-left: auto;
        }
    }
}

.img-uploader {
    width: 120px !important;
    height: 108px !important;
}

// public menu ====================================================

.public-menu {
    width: 100dvw;

    .menu-header {
        height: clamp(30dvh, 40dvw, 50dvh);
        position: relative;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: clamp(30dvh, 40dvw, 50dvh);
            z-index: 2;
            background-color: rgba(0, 0, 0, .6);
            top: 0;
        }

        .box-data {
            width: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, .8) 40%, transparent 100%);
            position: absolute;
            top: 0;
            z-index: 3;

            .data {
                border-bottom: 2px solid white;
                width: 95vw;
                margin: auto;
                padding-block: 1dvh;
                color: white;
                gap: 20px;

                .menu-logo {
                    width: 7dvw;
                    height: 7dvw;
                    border-radius: 50%;

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }

                h1 {
                    font-size: 2vw;
                    font-weight: 300;
                    padding: 1dvh;
                }

                .social-container {
                    margin-left: auto;
                    color: white;
                    gap: clamp(.5dvw, 1dvw, 2dvw);

                    .social {
                        background-color: #A05631;
                        display: grid;
                        place-items: center;
                        height: clamp(1.5dvw, 2dvw, 3dvw);
                        width: clamp(1.5dvw, 2dvw, 3dvw);
                        border-radius: 50%;
                        font-size: 1.5dvw;
                    }
                }
            }
        }


    }

    .card-menu {
        top: -20dvh;
        width: 95vw;
        height: 1000dvh;
        box-shadow: 0 0 2px 0 gray;
        margin: auto;
        z-index: 3;

        .category {
            overflow-x: auto;

            a {
                background-color: #A05631;
                width: 4dvw;
                height: 4dvw;
                display: grid;
                place-items: center;
                border-radius: 50%;
                font-size: 1.5dvw;
                color: white;
            }
        }

        .public-catalog {
            h1 {
                color: gray;
                padding-bottom: 10px;
                border-bottom: 1px solid lightgray;
            }

            .public-product-list {
                padding-block: 20px;
                display: grid;
                gap: 20px;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

                .public-product {
                    color: gray;
                    height: 12dvh;

                    img {
                        width: 25%;
                        height: 100%;
                    }

                    .public-product-data {
                        width: 75%;

                        button {
                            margin-top: auto;
                            height: 30px;
                        }
                    }
                }
            }
        }

    }

    .public-footer-order {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 4;
        background-color: #E5904D;
        padding-inline: 2vw;
        height: 5vw;

        button {
            margin-left: auto;
            background-color: #A05631;
            padding-inline: 50px;
        }

        .article {
            position: relative;
            height: 3.5vw;
            padding-right: 10px;
            gap: 20px;
            color: white;
            font-weight: 500;

            img {
                border-radius: 5px;
                object-fit: cover;
                width: 3.5vw;
                height: 3.5vw;
            }
        }
    }

    .public-menu-footer {
        position: fixed;
        bottom: 0;
        height: 80px;
        width: 100%;
        padding-inline: 2.5vw;
        background-color: #E5904D;
        z-index: 4;

        p {
            color: white;
            font-size: clamp(15px, 1.8vw, 1.8vw);
        }

        button {
            background-color: #A05631;
            margin-left: auto;
            height: 35px;
            width: clamp(150px, 10vw, 10vw);
        }

        button+button {
            margin: 0;
            width: clamp(120px, 8vw, 8vw);
        }
    }
}