@use '../../Layout.Resize.scss' as *;

.public-menu {
    .menu-header {
        background-position: center;
        background-size: cover;

        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: inherit;
            background-color: rgba(#000000, .5);
            z-index: 1;
        }

        .header-data {
            background: linear-gradient(to bottom, black 20%, transparent 120%);
            z-index: 2;
            position: absolute;
            left: 0;
            right: 0;
            width: 100vw;

            .data {
                border-bottom: 2px solid white;
                width: 95vw;
                margin: auto;
                align-items: end !important;
                gap: 20px;
                padding-block: 10px;

                .menu-logo {
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }

                p {
                    color: white;
                }

                .social-container {
                    margin-left: auto;

                    .social {
                        color: white;
                        background-color: #A05631;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .card-menu {
        z-index: 4;
        border: none;
        box-shadow: none;

        .filter {
            .category {
                overflow: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .category-item {
                    display: grid;
                    place-items: center;

                    a {
                        background-color: #A05631;
                        color: white;
                        border-radius: 50%;
                    }

                    a+p {
                        color: gray;
                        font-weight: 700;
                        white-space: nowrap;

                    }
                }
            }
        }

        .public-catalog {
            color: gray;
            width: 100%;

            h1 {
                width: 100%;
                margin-bottom: 10px;
            }

            .public-product-list {
                gap: 20px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

                .public-product {
                    .product-data {
                        color: gray;
                        width: 100%;

                        img {
                            height: 100%;
                        }

                        button {
                            margin-top: auto;
                            width: 50% !important;
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }

    .public-menu-footer {
        background-color: #A05631;
        z-index: 5;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding: 10px 20px;

        button {
            margin-left: auto;
        }

        .order-carrousel {
            overflow-x: scroll;
        }

        .order-carrousel::-webkit-scrollbar {
            display: none;
        }

        .order {
            background-color: #82492c;
            height: 60px;
            align-items: center;
            padding: 5px 10px;
            gap: 30px;
            border-radius: 5px;
            color: white;
        }
    }
}

.modal-order {
    color: gray;
    .content-footer{
        p{
            font-size: 1rem;
            font-weight: bold;
        }
    }
    .order-list {
        .order-item {
            padding: 5px 0;
            gap: 10px;

            button+button {
                height: 25px;
            }

            p {
                font-size: 1rem;
            }

            img {
                height: 3vw;
                width: 3vw;
            }
        }
    }

    .modal-footer{
        button{
            height: 30px;
        }
    }
}