@use "sass:map";
$breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1600px
);

@mixin respond-to($break, $direction: max) {
    @if map.has-key($breakpoints, $break) {
        $size: map.get($breakpoints , $break);

        @if $direction ==max {
            @media(max-width: $size) {
                @content;
            }
        }

        @else if $direction ==min {
            @media(min-width: $size) {
                @content;
            }
        }

        @else {
            @warn 'Breakpoint not found `#{$size}`'
        }
    }
}