.user-data {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    position: relative;

    .add {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.franchise-container {
    width: 100%;
    padding: 20px;

    .angle {
        transform: rotateZ(0);
        transition: all .2s ease-in-out;

        &.collapsed {
            transform: rotateZ(180deg);
            transition: all .2s ease-in-out;
        }
    }


    .franchise-item {
        border-color: #c4c4c4;

        select,
        input {
            border-color: #c4c4c4;
        }
    }

    .franchise-data {
        gap: 10px;
        padding: 15px;
    }

    .branch-item {
        padding: 15px;
        gap: 15px;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .user-data {
        grid-template-columns: 1fr;

        .add {
            position: relative;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
        }
    }
}