.user-data {
    display: grid;
    grid-template-columns: repeat(5, minmax(150px, 1fr));
    gap: 20px;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    position: relative;

    .add {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.franchise-container {
    width: 100%;
    padding: 20px;

    .franchise-item {
        border-color: lightgray;

    }

    .franchise-data {
        padding: 15px;
        gap: 10px;
    }

    .branch-item {
        padding: 15px;
        gap: 15px;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .user-data {
        grid-template-columns: 1fr;
        .add {  
            position: relative;
            justify-content: center;
            width: 100%;
            margin-top: 20px;
        }
    }
}